.hospital-navbar {
    background-color: #ACD9B2;
}

.hospital-navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
}

.hospital-navbar .navbar-nav .nav-link {
    color: #fff;
}

.hospital-navbar .navbar-nav .nav-link:hover {
    background-color: #007bff;
}


h1 {
    font-size: 24px;
    color: #007bff;
    text-align: center;
}

p {
    font-size: 16px;
    color: #333;
    text-align: center;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: unset;
}

nav{
	max-width: 900px;
	margin: auto;
	background-color: #489ea4;
	font-size: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
    border-radius: 50%;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
    
	background-color: rgb(2, 85, 140);
    border-radius: 50px;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(7, 46, 68, 0.5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: rgb(30, 107, 152);
    border-radius: 50px;
}

.menu-vertical li a{
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;
}